@viewport {
	width : device-width;
	initial-scale :1.0;
}

@font-face {
	font-family: Gidole-Regular;
	src: url(../fonts/Gidole-Regular.otf);
}

body {
	background-color: white;
	overflow-y: hidden;
}

.navbar-custom {
	background-color: black;
	background-image: none;
	border-radius: 0vw 0vw 2vw 2vw;
}

.active {
	border-bottom: 5px solid green;
	color: orange!important;
}

#navbar {
	vertical-align: middle;
	text-align: center;
	font-family: cursive;
	font-size: 4vh;
}

.navbar-brand {
	font-size: 4vh;
	font-family: Verdana;
	font-weight: bold;
	color: white!important;
}

#call {
	vertical-align: middle;
	text-align: center;
	font-size: 3vh;
	color: #F08EB3;
	color: yellow;
}

section {
	height: 100vh;
	width: 100vw;
}

.wrapper {
	padding-top: 8.5vh;
}

#slider {
	position: relative;
	top: 0vh;
	left: 0vw;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#slides {
	cursor: move;
	position: absolute;
	left: 0vw;
	top: 0vh;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#slides div div.caption header {
	position: absolute;
	left: 30vw;
	top: 2vh;
	width: 40vw;
	text-align: center;
	vertical-align: middle;
	background-color: black;
	box-shadow: 0px 0px 5px 5px grey;
	border-radius: 2vw 2vw 0vw 0vw
}

#slides div div.caption header h2 {
	font-size: 2.5vw;
	color: cyan;
	/* background-color: black;
	box-shadow: 0px 0px 5px 5px grey;
	border-radius: 2vw 2vw 0vw 0vw */
}

#down {
	position: fixed;
	left: 50vw;
	top: 90vh;
	text-align: center;
	vertical-align: middle;
	font-size: 6vh;
	color: chocolate;
	background-color: black;
	border-radius: 0vw 0vw 1vw 0vw;
}

#down:hover {
	cursor: pointer;
}

#up {
	position: fixed;
	left: 47vw;
	top: 90vh;
	text-align: center;
	vertical-align: middle;
	font-size: 6vh;
	color: chocolate;
	background-color: black;
	border-radius: 0vw 0vw 0vw 1vw;
}

#up:hover {
	cursor: pointer;
}

.features {
	position: absolute;
	font-size: 1.2vw;
	vertical-align: middle!important;
	background-color: white;
	box-shadow: 0px 0px 5px 5px grey;
}

.features ul {
	list-style: outside none none;
	font-family: Verdana;
	color: #CD00FF;
	font-stretch: extra-expanded;
	cursor: pointer;
	vertical-align: middle!important;
	height: auto;
}

.features ul li {
    margin: 5vh 2vh 5vh 1vh;
}

.features ul li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content:"\e127";
    font-family: 'Glyphicons Halflings';
    font-size: 1.2vw;
    float: left;
    margin-left: -2vw;
    color: #CD00FF;
}

.common-features {
	left: 75vw;
	top: 30vh;
	border-radius: 3vw 3vw 3vw 0vw;
}

.package-specific {
	left: 10vw;
	top: 22vh;
	border-radius: 3vw 3vw 0vw 3vw;
}

.caption {
	height: 88vh;
	left: 0vw;
	position: absolute;
	top: 8vh;
	width: 100vw;
}

#packages {
	background-color: #211818;
}

#whywe {
	background-color: white;
	color: white;	
}

#whywe div.wrapper {
	padding-left: 8vw;
	vertical-align: middle;
	/* border: 1px solid white; */
	height: 100%;
}

#reasons {
    /* border: 0.5vw solid red; */
    font-size: 1.5vw;
    margin-top: 6vh;
    color: coral;	
}

#reasons ul li {
	margin: 5vh 0;
	border: 1px solid yellow;
	border-radius: 1vw 1vw 1vw 1vw;
	padding-left: 1vw;
	list-style: none;
	width: 90%;
	background-color: white;
	color: black;
	box-shadow: 0px 0px 3px 3px chocolate;
}

#contactus {
	background-color: #211818;
	/* border: 1px solid red; */
}

#contactus .wrapper {
	/* border: 1px solid white; */
	height: 100%;
}

#contact0 {
	position: relative;
	top: 20vh;
	left: 32vw;
	height: 35vh;
	width: 33vw;
	border: 1px solid black;
	padding-left: 2vw;
	background-color: white;
	box-shadow: 0px 0px 5px 5px grey;
	border-radius: 3vw 0vw 3vw 0vw;
}

#contact1{
	position: relative;
	top: 2vh;
	left: 15vw;
	height: 35vh;
	width: 33vw;
	border: 1px solid black;
	padding-left: 2vw;
	background-color: white;
	box-shadow: 0px 0px 5px 5px grey;
	border-radius: 3vw 0vw 3vw 0vw;
}

#contact2{
	position: relative;
	top: 3vh;
	left: 50vw;
	height: 35vh;
	width: 33vw;
	border: 1px solid black;
	padding-left: 2vw;
	background-color: white;
	box-shadow: 0px 0px 5px 5px grey;
	border-radius: 3vw 0vw 3vw 0vw;
}

.corp {
	font-size: 2vw;
	font-weight: bolder;
	color: #3DCF55;
}

.hr {
	width: 29vw;
	height: 0.25vh;
	position: relative; 
}

.line {
	font-size: 1vw;
	font-style: italic;
	color: #3DCF55;
}

.left {
	width: 15vw;
	height: 13vh;
	position: relative;
	top: 0vh;
	left: 0vw;
	font-size: 1.5vw;
	color: #44BBD0;
}

.right{
	width: 17vw;
	height: 16vh;
	position: relative;
	top: 0vh;
	left: 14vw;
	text-align: right;
	font-size: 1.5vw;
	padding: 2vh 1vw 0vh 0vw;
}

#main {
	background-color: black;
	font-family: Gidole-Regular;
}

footer {
	background-color: transparent;
	height: 3vh;
	left: 0;
	position: fixed;
	top: 97vh;
	width: 100vw;
	color: white;
	font-family: Verdana;
	vertical-align: middle;
	text-align: center;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 8s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}