<!DOCTYPE html>
<html lang="en" ng-app="caar"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>ViAs Travels | Car Services | Self Driven | Car on Rent | Hire a Car | Airport and InterCity Pick-Up & Drop | Book a Car</title>

<!-- Bootstrap -->
<link
	href="https://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css"
	rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">
<link href="css/bootstrap-multiselect.css" rel="stylesheet" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css"
	rel="stylesheet">
<link href="css/home.css" rel="stylesheet">
</head>
<body>
	
	<header ng-controller="MenuController">
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-custom">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" ng-href="{{Title.href}}" ng-bind="Title.title"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li ng-repeat="item in MenuItems">
	     					<a ng-href="{{item.href}}" class="menu" ng-bind="item.dName"></a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<a class="navbar-brand"><span id="call" class='blink_me' ng-bind="ContactNumber"></span></a>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
	</header>

	<section id="slider-container" ng-controller="SliderController">
		<div id="slider">
			<div id="slides" u="slides">
				<div id="{{ package.id }}" ng-repeat="package in Packages.packagesList">
					<img u="image" ng-src="{{package.img}}" />
					<div u="caption" class="caption">
						<header>
							<h2 ng-bind="package.name"></h2>
						</header>
						<aside class="package-specific features">
							<ul>
								<li ng-repeat="feature in package.pFeatures" title="{{ feature.oneLiner }}" data-toggle="tooltip">
									<span ng-bind="feature.name"></span>
								</li>
							</ul>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<aside class="common-features features">
			<ul>
				<li ng-repeat="feature in Packages.cFeatures" title="{{ feature.oneLiner | trusted}}" data-toggle="tooltip">
					<span ng-bind-html="feature.name | trusted"></span>
				</li>
			</ul>
		</aside>
	</section>

	<!--
	<section id='packages'>
		<div class="wrapper">This Section is under Construction.</div>
	</section>
	-->
	
	<section id='whywe' ng-controller="WhyWeController">
		<div class="wrapper">
			<article id="reasons">
				<ul>
					<li ng-repeat="bullet in WhyWe.bullets" ng-bind="bullet"></li>
				</ul>
			</article>
		</div>
	</section>

<section id='contactus' ng-controller="ContactUsController">
		<div class="wrapper">
			<div ng-repeat="contact in Contacts" id="{{ contact.id }}">
				<div class="corp">
					<strong>
						<span ng-bind="contact.organisation.name"></span>
					</strong>
				</div>
				<div class="left">
					<span ng-repeat="line in contact.organisation.addresslines" 
						  ng-bind-html="line | trusted">
					</span>
					<abbr title="Office">O:</abbr> <span ng-bind="contact.organisation.landline"></span><br>
				</div>
				<div class="right">
					<span ng-bind="contact.name"></span><br>
					<abbr title="Email">E:</abbr> <span ng-bind="contact.email"></span><br>
					<abbr title="Mobile">M:</abbr> <span ng-bind="contact.mobile"></span><br>	
				</div>
			</div>
		</div>
	</section>

	<span ng-controller="MenuController" id="up" class="glyphicon glyphicon-menu-up" ng-click="scroll('up')"></span>

	<span ng-controller="MenuController" id="down" class="glyphicon glyphicon-menu-down" ng-click="scroll('down')"></span>
	
	<footer class='container-fluid footer-wrapper' ng-controller="FooterController">
		<span ng-bind="Footer.copyright.part1"></span>
		<span class="glyphicon glyphicon-copyright-mark"></span>
		<span ng-bind="Footer.copyright.part2"></span> 
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
	<script src="js/bootstrap-multiselect.js" type="text/javascript"></script>
	<script src="js/jssor.slider.mini.js"></script>
	<script src="js/animatescroll.min.js"></script>
	<script src="js/init.eng.js"></script>
	<script src="js/angular.custom.js"></script>
	<script src="js/home.js" type="text/javascript"></script>

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Test -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-2619844116606968"
	     data-ad-slot="4496752338"
	     data-ad-format="auto"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</body>
</html>
