<!DOCTYPE html>
<html lang="en" ng-app="caar"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>It's Me...</title>

	<!-- Bootstrap -->
<link
	href="https://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css"
	rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">
<link href="css/bootstrap-multiselect.css" rel="stylesheet" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css"
	rel="stylesheet">
<link href="css/home.css" rel="stylesheet">
</head>
<body>
	<header ng-controller="MenuController">
	<!-- <header> -->
		<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" ng-href="{{Title.href}}" ng-bind="Title.title"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li ng-repeat="item in MenuItems">
	     					<a ng-href="{{item.href}}" class="menu" ng-bind="item.dName"></a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<a class="navbar-brand"><span id="call">Call Us @ 1800
								0000 000</span></a>
						<li class="dropdown"><a id="city-selector" href="#"
							class="dropdown-toggle active" data-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">Pune
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<!--  <li class="dropdown-header">Maharashtra</li> -->
								<li><a href="#">Pune</a></li>
							</ul></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
	</header>

	<section id="slider-container" ng-controller="SliderController">
		<div id="slider">
			<div id="slides" u="slides">
				<div id="{{ package.id }}" ng-repeat="package in Packages">
					<img u="image" ng-src="{{package.img}}" />
					<div u="caption" class="caption">
						<header>
							<h2 ng-bind="package.name"></h2>
						</header>
						<aside class="package-specific">
							<ul>
								<li ng-repeat="feature in package.pFeatures" title="{{ feature.oneLiner }}" data-toggle="tooltip"><span
									class="glyphicon glyphicon-hand-right"></span><span ng-bind="feature.name"></span></li>
							</ul>
						</aside>
						<aside class="common-features">
							<ul>
								<li ng-repeat="feature in package.cFeatures" title="{{ feature.oneLiner }}" data-toggle="tooltip"><span 
									class="glyphicon glyphicon-hand-right"></span><span ng-bind="feature.name"></span></li>
							</ul>
						</aside>
						<button type="button" value="101"
							class="btn btn-success select-car">Mercedes A Class</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--  <section id='main' class='container'>
		<div class="wrapper">
			<div id='input-1' class='row  ui-corner-all'>

				<div id='input-1-header' class='row'>
					<div id='input-place-from-header' class='col-sm-3 left-me'>
						&nbsp;&nbsp;<b><span id='driveThrough'>Drive Through</span></b>
					</div>
					<div id='input-place-from-header' class='col-sm-3 left-me'>
						&nbsp;&nbsp;<b>Pickup Me From...</b>
					</div>
					<div id='input-date-from-header' class='col-sm-3 left-me'>
						&nbsp;&nbsp;<b>Pickup Me Around...</b>
					</div>
					<div id='input-date-to-header' class='col-sm-3 left-me'>
						&nbsp;&nbsp;<b>Dropoff Me Around...</b>
					</div>
				</div>

				<div id='vehicle-wrapper' class='col-md-3'>
					<div class="input-group">
						<select id="vehicle" class='multi-dropdown form-controli input'
							placeholder="Vehicle">
							<option value="101">Mercedes A</option>
							<option value="102">Mercedes G</option>
							<option value="201">XUV 500</option>
							<option value="103">Honda City</option>
							<option value="001">Maruti Swift</option>
						</select>
					</div>
				</div>

				<div id='input-place-from' class='col-md-3'>
					<div class="input-group">
						<select id="from" class='multi-dropdown form-controli input'
							placeholder="Pickup Me From">
							<option value="1">Swargate</option>
							<option value="2">Shivaji Nagar</option>
							<option value="3">Pune Station</option>
							<option value="4">Nigdi</option>
						</select>
					</div>
				</div>

				<div id='input-date-from' class='col-md-3'>
					<div id='date-from' class='input-group date'>
						<input type='text' class="form-control" /> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>

				<div id='input-date-to' class='col-md-3'>
					<div id='date-to' class='input-group date'>
						<input type='text' class="form-control" /> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>

			</div>

		</div>

	</section> -->

	<section id='packages' class='container'>
		<div class="wrapper">This is for showing Packages</div>
	</section>

	<section id='whywe' class='container'>
		<div class="wrapper">This is for showing Why We ?
		<p>Book a car with us and we guarantee you convenience, quality and
comfort to its best.
</p>

<p>For local trips, we do not have a constraint of minimum or maximum
hours which are charged.</p>

<p>Customer satisfaction is our true motive.</p>

<p>We have a team of most well behaved and courteous drivers</p>
		</div>
	</section>

	<section id='aboutus' class='container'>
		<div class="wrapper">This is for showing About Us</div>
	</section>

	<section id='contactus' class='container'>
		<div class="wrapper">This is for showing Contact Us</div>
	</section>

	<footer class='container-fluid footer-wrapper' ng-controller="FooterController">
		<span ng-bind="Footer.copyright.part1"></span>
		<span class="glyphicon glyphicon-copyright-mark"></span>
		<span ng-bind="Footer.copyright.part2"></span> 
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
	<script src="js/bootstrap-multiselect.js" type="text/javascript"></script>
	<script src="js/jssor.slider.mini.js"></script>
	<script src="js/animatescroll.min.js"></script>
	<!-- <script src="js/google.js" type="text/javascript"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script> -->
	<script src="js/init.js"></script>
	<script src="js/angular.custom.js"></script>
	<script src="js/home.js" type="text/javascript"></script>

</body>
</html>
